h1.title {
    width: max-content;
    margin: auto;
    margin-bottom: 0.75em;
    margin-top: 0.5em;
    display: flex;
    flex-wrap: wrap;
    font-size: 3em; /* Increase font size for better visibility */
    color: #fff; /* White text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add text shadow for contrast */
    animation: fadeIn 1s; /* Fade-in animation */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.game-status {
    width: max-content;
    padding: 0 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5em;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
}

.game-status .image-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
